
<div class="container text-center">
    <div class="card" id="choices">
            {% if form.word.image.value %}
                <img class="card-img-top" src="/media/{{ form.word.image.value }}">
            {% endif %}
        <div id="choices" class="text-center">
            <h5 class="card-title">{{ form.word.word_from.value }}</h5>
            {% for choice in form.choices %}
                <button type="button" onclick="show(
                        {{ form.word.id.value }},
                        {% if form.word.word_to.value == choice %}true{% else %}false{% endif %}
                        )" class="btn btn-secondary col-md-7 mt-2 mb-2">{{ choice }}</button>
            {% endfor %}
        </div>
    </div>

    <div hidden id="word-card">
        {% include 'web/components/word_card.html' with form=form.word %}
    </div>
</div>

<script>
function show(id, success){
    document.getElementById("choices").hidden = true;
    document.getElementById("word-card").hidden = false;

    document.getElementById("word-input").value = id;
    document.getElementById("success-input").value = success;
}
</script>
