
<div class="card rounded-3 shadow-sm">
    <div class="card-header d-flex align-items-baseline">
        <a href="/?lang={{dictionary.lang_from.code}}" role="button">
            <img src="{{dictionary.lang_from.icon}}" alt="lang_from" class="icon-responsive" style="margin-top: -50%">
        </a>
        <h1 class="text-responsive">{{dictionary.name}}</h1>
        {% if user.is_authenticated %}
            {% if dictionary.is_mine %}
                <a type="button" class="btn btn-default" href="/dictionary/{{dictionary.id}}/update/" class="icon-responsive">
                    <img src="/assets/icons8-pencil-30.png" class="icon-responsive" alt="pin" style="margin-top: -50%">
                </a>
                <form action="/dictionary/{{dictionary.id}}/remove/" method="POST">
                    {% csrf_token %}
                    <input name="path" hidden value="{{ request.path }}">
                    <button type="submit" class="btn btn-default">
                        <img src="/assets/icons8-remove-30.png" class="icon-responsive" alt="delete" style="margin-top: -50%; margin-left: -70%;">
                    </button>
                </form>
            {% elif not dictionary.pinned %}
                <form action="pin/" method="POST">
                    {% csrf_token %}
                    <input name="path" hidden value="{{ request.path }}">
                    <button type="submit" class="btn btn-default">
                        <img src="/assets/icons8-pin-30.png" class="icon-responsive" alt="pin" style="margin-top: -50%">
                    </button>
                </form>
            {% else%}
                <form action="/dictionary/{{dictionary.id}}/unpin/" method="POST">
                    {% csrf_token %}
                    <input name="path" hidden value="{{ request.path }}">
                    <button type="submit" class="btn btn-default">
                        <img src="/assets/icons8-pin-remove-30.png" class="icon-responsive" alt="unpin" style="margin-top: -50%">
                    </button>
                </form>
            {% endif %}
        {% endif %}
  </div>
    <div class="card-body">
        <a href="/?level={{dictionary.level}}" class="badge bg-warning text-responsive-mid">
            {{dictionary.level}}
        </a>
        {% for tag in dictionary.tags %}
          <a href="/?tag={{tag}}" role="button" class="badge bg-secondary text-responsive-mid">
            {{tag}}
          </a>
        {% endfor %}

        <div class="container mt-2">
            <div class="row">
                {% for word in words %}
                    <div class="col-lg-2 mb-2">
                        {% include 'web/components/word_card_min.html' with form=word %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <hr class="my-4">
        <div class="container">
          <div class="row">
            <div class="col">
              <a type="button" class="btn btn-primary text-responsive-mid" href="/dictionary/{{dictionary.id}}/repeat/">
                  Learning <span class="badge bg-dark" >{{ dictionary.count }} words</span>
              </a>
            </div>
          </div>
        </div>

    </div>

    <div class="card-footer text-muted text-responsive-mid">
        Created
        {{ dictionary.date }}
        by
        <a href="/?owner={{dictionary.owner}}">{{dictionary.owner}}</a>

        {{dictionary.rating}}
        <img src="/assets/icons8-star-half-empty-48.png" class="icon-responsive" alt="rate">
        ({{dictionary.rates_count}})
    </div>
</div>
