<div class="text-center container  col-md-7">
    {% if form.id.value %}
        <h4 class="mb-3">Edit</h4>
    {% else %}
        <h4 class="mb-3">New dictionary creation</h4>
    {% endif %}
    <form class="needs-validation" method="POST" action=".">
      {% csrf_token %}

      <input hidden name="id" value="{{ form.id.value }}">
      <div class="row g-3">
        <div class="col-12">
          <label for="firstName" class="form-label">Name</label>
          <input type="text" name="name" class="form-control" id="firstName" placeholder="" value="{{ form.name.value|default_if_none:"" }}">
            {{ form.name.errors }}
        </div>

        <div class="col-md-5">
          <label for="language_from" class="form-label">Language from</label>
          <select class="form-select" id="language_from" name="language_from">
            <option value selected> All languages </option>
            {% for lang in languages %}
                <option value="{{lang.id}}" {% if form.language_from.value|upper == lang.id|upper %}selected{% endif%}>
                    {{lang.name}}
                </option>
            {% endfor %}
          </select>
            {{ form.language_from.errors }}
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="col-md-4">
         <label for="language_to" class="form-label">Language to</label>
          <select class="form-select" id="language_to" name="language_to">
            <option selected value> All languages </option>
            {% for lang in languages %}
                <option value="{{lang.id}}" {% if form.language_to.value|upper == lang.id|upper %}selected{% endif%}>
                    {{lang.name}}
                </option>
            {% endfor %}
          </select>
            {{ form.language_to.errors }}
          <div class="invalid-feedback">

          </div>
        </div>

        <div class="col-md-3">
          <label for="level" class="form-label">Level</label>
          <select class="form-select" id="level" name="level" required="">
            <option selected value> All levels </option>
            {% for level in levels %}
                <option value="{{level.id}}" {% if form.level.value|upper == level.id|upper %}selected{% endif%}>
                    {{level.name}}
                </option>
            {% endfor %}
          </select>
            {{ form.level.errors }}
            <div class="invalid-feedback">

          </div>
      </div>

        <div class="col-12">
        <select name="tags" class="form-select form-select-md" multiple>
            {% for tag in tags %}
                <option value="{{tag.id}}" {% if tag.id|upper in form.tags.value|join:'' %}selected{% endif%}>
                    {{tag.name}}
                </option>
            {% endfor %}
        </select>
                  {{ form.tags.errors }}
          <div class="invalid-feedback">
          </div>
        </div>

        <div class="form-check col-4">
            <input type="checkbox" class="form-check-input" id="is_public" name="is_public" {% if form.is_public.value %}checked{% endif%}>
            <label class="form-check-label" for="is_public">All users can see it</label>
        </div>

        <div class="col-4">
          <label for="firstName" class="form-label">Session count</label>
          <input type="number" name="session_count" class="form-control" value="{{ form.session_count.value }}">
            {{ form.name.errors }}
        </div>

        <hr class="my-4">
      </div>
      <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
    </form>
</div>