<div class="container text-center col-lg-6">
    <form role="search" method="GET" action="/">
        <div class="input-group mb-3">
            <input name="search" type="search" class="form-control text-responsive-mid" placeholder="Search..."
                   aria-label="Search">
            <button class="btn btn-outline-secondary text-responsive-mid" type="submit" id="button-addon2">Search</button>
        </div>
            {% include "web/components/filters.html" %}
    </form>
</div>

    <div class="container mt-5">
        <div class="row">
            {% for dictionary in dictionaries %}
                <div class="col col-lg-auto mb-3">
                    {% include "web/components/dictionary_cart_mini.html" %}
                </div>
            {% endfor %}
        </div>
    </div>
