<div hx-target="this" hx-swap="outerHTML" class="card">

    <form method="POST">
        {% csrf_token %}

        <input name="id" hidden value="{{form.id.value}}">
        <input name="dictionary" hidden value="{{form.dictionary.value}}">

        <div class="card-body row g-3">
          <div class="col-md-5">
              Word
            <input type="text" name="word_from" class="form-control" placeholder="" required="" value="{{form.word_from.value}}">
            <div class="invalid-feedback">
              Word from is required
            </div>
          </div>

          <div class="col-md-5">
              Translate
            <!--    <label for="word-to" class="form-label">Word to</label>-->
            <input type="text" name="word_to" class="form-control" placeholder="" required="" value="{{form.word_to.value}}">
            <div class="invalid-feedback">
              Word to is required
            </div>
          </div>

            {% if form.id.value %}
              <div class="col-md-1">
                <button hx-post="/word/{{form.id.value}}/delete/" type="button" class="btn-close"></button>
              </div>
            {% endif %}

            <div class="col-md-3">
                <button hx-post="/word/create/" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </form>
</div>