<div class="card">
    {% if form.image %}
        <img class="card-img-top" src="{{ form.image }}">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title" id="word-form">{{ form.word_from }}</h5>
        <p class="card-text">{{ form.word_to }}</p>

        <h6 class="card-title">Examples: </h6>
        <p class="card-text">{{ form.example_1 }}</p>
        <p class="card-text">{{ form.example_2 }}</p>
        <form method="POST" action=".">
            {% csrf_token %}
            <input hidden id="word-input" name="word">
            <input hidden id="word-input" name="type" value="{{ type }}">
            <input hidden id="success-input" name="success">
            <button type="submit" class="btn btn-primary">Go next</button>
        </form>
    </div>
</div>