{% extends "base.html" %}

{% block content %}
    {% include 'web/components/dictionary_creation.html' with form=form %}
    {% if form.id.value and form.id.value != 'None' %}
        <h4 class="mb-3 text-responsive">Words</h4>
        <div class="container">
            <div class="row row-cols-md-auto" id="words">
                {% for word in words %}
                    {% include 'web/components/word_creation.html' with form=word csrf_token=csrf_token %}
                {% endfor %}
            </div>
        </div>
        <hr class="my-4">

        <button class="btn btn-primary col-5 text-responsive-mid" type="button"
                hx-get="{% url 'web:word-form' id=form.id.value %}"
                hx-swap="beforeend" hx-target="#words">
            Add
        </button>
        <hr class="my-4">
    {% endif %}

{% endblock %}