{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'web/components/dictionary_cart_with_words.html' with words=words %}
            </div>
        </div>
    </div>
{#    <h4>Words:</h4>#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            {% for word in words %}#}
{#                <div class="col-lg-4">#}
{#                    {% include 'web/components/word_card_min.html' with form=word %}#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
