{% extends "base.html" %}

{% block header%}

{% endblock %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center vh-100">
    <main class="text-center">
      <div style="min-width: 300px; max-width: 500px">
        <form method="POST">
          {% csrf_token %}
          <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

           <div>
            {% for type, error in form.error_messages.items %}
            <div class="alert alert-danger" role="alert">
              {{ error }}
            </div>
            {% endfor %}
          </div>

          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" name="username" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-muted">© Language Learner</p>
        </form>
      </div>
    </main>
</div>
{% endblock %}