{% extends "base.html" %}

{% block content %}

<style>
.clickable-row {
    cursor: pointer;
}
.clickable-row:hover{
    background: #f1efef;
}
</style>

    <div class="container">
        <div class="row text-center">
            {% if user.is_authenticated %}
                <h1 class="fw-light">Hello, {{ user.username }}</h1>
                <p class="card-text">Last week progress: </p>
                {% include 'web/components/progress_container.html' with progress=progress %}

                <h1 class="fw-light">Searching</h1>
                {% include 'web/components/searching.html' %}
            {% else %}
                <div>
                    <h1 class="fw-light">Dictionaries from users all over the world</h1>
                    <p class="lead text-muted">You can simplify learning new languages from all over the world dictionaries.</p>
                    {% include 'web/components/searching.html' %}
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}
